* {
    margin: 0;
    padding: 0;
}

/* Nav Bar */

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

#home {
    background-color: red;
}

#home:hover {
    background-color: pink;
    color: black;
}

#about {
    background-color: blue;
}

#about:hover {
    background-color: lightblue;
    color: black;
}

#contact {
    background-color: green;
}

#contact:hover {
    background-color: lightgreen;
    color: black;
}

/* Nav Bar */